# Sudoers configuration for {{ username }} on {{ ansible_distribution }}
{% if ansible_distribution == 'Ubuntu' %}
{{ username }} ALL=(ALL) NOPASSWD:ALL
{% elif ansible_distribution == 'Debian' %}
{{ username }} ALL=(ALL) NOPASSWD:ALL
{% elif ansible_distribution == 'CentOS' or ansible_distribution == 'RedHat' %}
{{ username }} ALL=(ALL) NOPASSWD:/usr/sbin/service app restart
{{ username }} ALL=(ALL) NOPASSWD:/usr/bin/make install
{% endif %}
